/CrowdCountingSystem/appfront/.idea
/CrowdCountingSystem/appfront/node_modules
/CrowdCountingSystem/myapp/__pycache__
/CrowdCountingSystem/db.sqlite3
/CrowdCountingSystem/myapp/migrations
/CrowdCountingSystem/myapp/IIM/__pycache__
/CrowdCountingSystem/myapp/IIM/misc/__pycache__
/CrowdCountingSystem/myapp/IIM/model/__pycache__
/CrowdCountingSystem/myapp/IIM/out.txt
/CrowdCountingSystem/CrowdCountingSystem/__pycache__
/CrowdCountingSystem/appfront/src/assets/ProcessedData/videos/TownCentreXVID.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/videos/test.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/videos/demo.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/videos/Tdemo.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/videos/00011.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/videos/acvis09-5950.mp4
/CrowdCountingSystem/appfront/src/assets/test.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/results/new_video1.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/results/new_video2.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/results/new_video3.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/results/new_video4.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/results/new_video5.mp4
/CrowdCountingSystem/appfront/src/assets/ProcessedData/results/new_video6.mp4
/CrowdCountingSystem/myapp/IIM/model/HR_Net/__pycache__
/CrowdCountingSystem/myapp/IIM/model/VGG/__pycache__
/CrowdCountingSystem/myapp/IIM/latest_model/latest_state_model.pth